@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .disabled {
        @apply opacity-50 cursor-not-allowed
    }

    .single-article pre {
        @apply text-green-500 bg-gray-200 my-6
    }
}



/* // Desktop and landscape tablets */
@media (max-width: 1024px) {

    .isMidiumDivice {
        display: none;
    }

    .md-image {
        flex-direction: column;
        padding: 30px 0;
    }

    .md-divice {
        padding: 0px 20px;
    }


}


.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
}